html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
.texto-centrado{
  text-align: center;
}
html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 10vh 1fr 10vh;
  grid-template-areas: 
  "header "
  "main "
  "footer";
}

.imghome {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container{
    grid-area: main;
    height: 100%;
    width: 100%;
}

.main{
  height: 100%;
  width: 100%;
}

.navbar{
  height: 100%;
  width: 100%;
  grid-area: header;
}



.footer{
  grid-area: footer;
}
.formulario{
  text-align: center;
  height: auto;
  width: 400px;
  padding: 10px;
  display: flex;
  border: 2px solid black;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.centrado{
  height: 100%;
  width: 100%;
}