@{
    ViewData["Title"] = "Index";
}

<h1 class="texto-centrado">Tecnologia y diseño</h1>

<div>
    <h2></h2>
    <img class="imghome" src="https://www.itop.es/images/Blog/IoT/domotica-cuales-son-los-beneficios-tecnologia/dmotica-iot-itop.jpg" alt="">
</div>