@model Biblioteca.Electrodomestico

<h2>Editar Electrodoméstico</h2>

<form method="post">
    <input type="hidden" asp-for="IdElectrodomestico" />
    <input type="hidden" asp-for="IdCasa" />

    <div>
        <label>Nombre</label>
        <input asp-for="Nombre" class="form-control" />
    </div>
    <div>
        <label>Tipo</label>
        <input asp-for="Tipo" class="form-control" />
    </div>
    <div>
        <label>Ubicación</label>
        <input asp-for="Ubicacion" class="form-control" />
    </div>

    <label>Encendido</label>
    <input type="checkbox" asp-for="Encendido" />

    <button class="btn btn-primary">Guardar</button>
</form>
