@model Biblioteca.Casa

@{
    ViewData["Title"] = "Alta de Casa";
}

<div class="centrado d-flex justify-content-center align-items-center">
<form class="formulario gap-3" asp-action="AltaForm" method="post">
    <h1>@ViewData["Title"]</h1>
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Direccion">Dirección:</label>
        <input asp-for="Direccion" />
    </div>
    <button class="btn btn-primary" type="submit">Guardar</button>
</form>
</div>
