@model List<Biblioteca.Casa>

@{
    ViewData["Title"] = "Listado de casas";
}

<h1>@ViewData["Title"]</h1>

<div>
    <a asp-action="AltaForm">
        <button class="btn btn-primary" type="button">Añadir</button>
    </a>
    <table class="table">
        <thead>
            <tr>
                <th>Direccion</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var casa in Model)
            {
                <tr>
                    <td>@casa.Direccion</td>
                    <td>
                        <form asp-action="Delete" asp-route-id="@casa.IdCasa" method="post">
                            <button type="submit" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar esta casa?')">Eliminar</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>