@model BD_DomoticaBD_Async.mvc.Models.UsuarioAltaViewModel

@{
    ViewData["Title"] = "Agregar nuevo usuario";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="AltaForm" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="Nombre" class="form-label">Nombre:</label>
        <input class="form-control" asp-for="Nombre" />
    </div>

    <div class="mb-3">
        <label asp-for="Correo" class="form-label">Correo:</label>
        <input class="form-control" asp-for="Correo" />
    </div>

    <div class="mb-3">
        <label asp-for="Contrasenia" class="form-label">Contraseña:</label>
        <input class="form-control" asp-for="Contrasenia" />
    </div>

    <div class="mb-3">
        <label asp-for="Telefono" class="form-label">Teléfono:</label>
        <input class="form-control" asp-for="Telefono" />
    </div>

    <div class="mb-3">
        <label class="form-label">Casas asignadas:</label>
        <select asp-for="CasasSeleccionadas" asp-items="@(new MultiSelectList(Model.TodasLasCasas, "IdCasa", "Direccion"))" multiple class="form-control">
        </select>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Guardar</button>
</form>